@import '../../../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;

	> button {
    background-color: rgba($color: $primary, $alpha: 0.8);
	}
}
