@import '../../../../styles/variables.scss';

.relative {
  position: relative;
}

.generateButton {
  text-transform: uppercase;
  position: absolute;
  top: 24px;
  right: 12px;
  cursor: pointer;
  border-radius: 8px;
  padding: 2px 8px;
  border: 1px solid $gray500;
  background-color: $gray500;
  font-size: 12px;
  line-height: 16px;
  color: $gray800;

  &:hover {
    background-color: $gray300;
  }
}
