.header {
  color: rgba($color: white, $alpha: 0.8);
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}

.loaderContainer {
  position: relative;
}

.loader {
  display: inline-block;
  &:nth-child(1) {
    height: 54px;
    width: 400px;
    position: absolute;
    top: 30px;
    left: 0;
  }

  &:nth-child(3) {
    height: 54px;
    width: 400px;
    position: absolute;
    top: 30px;
    right: 0;
  }

  &:nth-child(5) {
    height: 54px;
    width: 260px;
    position: absolute;
    top: 108px;
    left: 0;
  }

  &:nth-child(7) {
    height: 54px;
    width: 260px;
    position: absolute;
    top: 108px;
    right: 286px;
  }

  &:nth-child(9) {
    height: 54px;
    width: 260px;
    position: absolute;
    top: 108px;
    right: 0;
  }

  &:nth-child(11) {
    height: 54px;
    width: 260px;
    position: absolute;
    top: 184px;
    left: 0;
  }

  &:nth-child(13) {
    height: 54px;
    width: 260px;
    position: absolute;
    top: 184px;
    right: 286px;
  }

  &:nth-child(15) {
    height: 54px;
    width: 260px;
    position: absolute;
    top: 184px;
    right: 0;
  }

  &:nth-child(17) {
    height: 54px;
    width: 400px;
    position: absolute;
    top: 262px;
    left: 0;
  }

  &:nth-child(19) {
    height: 54px;
    width: 400px;
    position: absolute;
    top: 262px;
    right: 0;
  }
}