.header {
  color: rgba($color: white, $alpha: 0.8);
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
}

.loader {
  &:nth-child(1) {
    height: 54px;
  }

  &:nth-child(3) {
    height: 54px;
    margin-top: 24px;
  }
}